<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit">Linkedin</a></li>
    <li><span></span></li>
    <li><a href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fjoin">Github</a></li>
    <li><span></span></li>
    <li><a href="https://accounts.google.com/v3/signin/identifier?dsh=S-301824562%3A1669614925453818&continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26hl%3Dpt%26next%3Dhttps%253A%252F%252Fwww.youtube.com%252Findex&ec=65620&hl=pt-BR&passive=true&service=youtube&uilel=3&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=ARgdvAvCZnn-E9mSm49Nq1n5o5g_Iz2eKVae7U8hHlMYwZ6bhkz43MRvbcql1QPWe08SwSZ3b-EADQ">Youtube</a></li>
    <li><span></span></li>
  </ul>
</div>
